.constructor {
    max-width: 560px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -3%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
    
}



.constructor>.list>* {
    flex: 0 auto;
    
    
}

.constructor  span {
    margin-right: 0 ;
    
}

.list {   
    margin-right: 0;
    width: 100%;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    max-height: 54vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
 
.list-item {
    
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0.5% 0 0.5% 0;
    justify-content: center;
}

.list-item span {
    margin-left:-1.5% ;
    margin-right: 2%;
}

.list-item:last-child {
    margin-bottom: 0.5%;
  
}

.list-item:first-child {
    margin-top: 0.5%;
  
}

.currency {
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.order_button {
    display: flex;
    justify-content: center;
}