/* https://yandex-praktikum.github.io/react-developer-burger-ui-components/docs/  */
/* local import */

@import '../ui/fonts/fonts.css';
@import '../ui/common.css';
.app {

  margin-left: calc(var(--offset-base-variable)*20);
  margin-right: calc(var(--offset-base-variable)*20);
  padding-right: calc(var(--offset-base-variable)*10);

}

.empty {

}
