/* https://yandex-praktikum.github.io/react-developer-burger-ui-components/docs/  */
/* non local import */

@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/fonts/fonts.css';
@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

.spinner {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(70%, 30%);
}

.supper_container {
    left: 300px;
    right: auto;
    top: 0px;
    position: absolute;
    display: flex;
    /* чтобы показать неподвижный футер */
}

.supper_container_inner {
    left: 0px;
    top: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;

}

.super_header {
    left: 10%;
    right: auto;
    top: auto;
    width: 100%;
    position: relative;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}

.super_main {
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;

}

.supper_phone_content {
    display: none;
}


/* honey phony */
@media only screen and(max-width: 600px) {

    .supper_container,
    .supper_container_inner,
    .super_main,
    .super_header {
        display: flex;
        break-after: always;
        flex-wrap: wrap;
        white-space: wrap;
        margin: 0 !important;
        flex-direction: flex-flow;
        flex: 1;
    }

    .supper_phone_content {
        flex: 1;

    }

}