* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: "Jet Brains Mono", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1920px;
	margin: 0 auto 0;
}