.item {
    max-width: 272px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.item__hide {
    opacity: 0;
    visibility: hidden;
}

.currency {
    flex-direction: row;
    break-inside: avoid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    flex-direction: column;
    break-inside: avoid;
    display: flex;
    align-items: center;
    justify-content: center;
}
