/* выделение ссылок по ховеру */
a {
    position: relative;
    text-decoration: none;
    color: var(--text-primary-color);
}

a ::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: var(--text-primary-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a :hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
/* основные */
div,
h2
 {
  margin: 0;
  padding: 0;
}

.header {
  background: var(--background);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04); 
  text-align: left;
}

.main {
  margin: 0 auto;
  max-width: 1280px;
   
}

.header__article {
  background: var(--background);
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 0 0 10px 0;
}

.last__article {
  background: var(--background);
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
}

.logo {
  justify-content: center ;
  flex:0.5;
  order: -1;
} 

@media screen and (min-width: 1000px) {
  .first__article, .header__article {
    flex-direction: row;
  }

  .main {
    width: 4000px;
  }

  .first__article   {
    flex: 1;
  }

  .art1{
    padding-left: calc(10.75%);
  }
 
  .art2{
    margin-left: calc(-14%);
  }
  
  .art3{
    margin-left: calc(-4.2%);
    order: initial;
  }

  .art4{
    margin-right: calc(-15%);
  }
  
}
