.header {
	width: 100%;
}

.menu {
	width: 100%;
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.list {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
